# ENV
.env
.env.local
.env.*.local

# Dependencies
node_modules/

# Build outputs
dist/
build/
client/dist/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Uploads
server/uploads/

# TypeScript cache
*.tsbuildinfo

# Docker
postgres_data/